name: CD

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Pull with compose
        run: docker-compose pull
      -
        name: Create .env file
        run: |
          touch .env
          echo MYSQL_USER="${{ secrets.MYSQL_USER }}" >> .env
          echo MYSQL_PASSWORD="${{ secrets.MYSQL_PASSWORD }}" >> .env
          echo MYSQL_ROOT_PASSWORD="${{ secrets.MYSQL_ROOT_PASSWORD }}" >> .env
          echo MYSQL_CLIENT_PORT="${{ secrets.MYSQL_CLIENT_PORT }}" >> .env
          echo ANSIBLE_PASSWORD="${{ secrets.ANSIBLE_PASSWORD }}" >> .env
          echo KAFKA_HOST="${{ secrets.KAFKA_HOST }} >> .env
          echo KAFKA_PORT="${{ secrets.KAFKA_PORT }} >> .env
      -
        name: Compose config
        run: docker compose config
      -
        name: Run background containers
        run: docker-compose up -d mysql
      - name: Run tests and kafka-consumer
        run: docker-compose up r_forest_training kafka-consumer --attach-dependencies